
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todoUpdate-container{
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    
}
.todo-div{
    border-radius: .5rem;
    margin: 0 auto 2em auto;
    border: 2px solid #eee;
}
/* .texttodo{
    max-width: 200px;
} */
/* ul{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eee;
   
} */
ul li{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid #eee;
    padding: 2em;    
   
}
.todocontent{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.textTime{
    display: flex;
    gap: 1rem;
}
.erbtn{
    display: flex;
    gap: 1rem;
}
.track-section{
    width: 60%;
    margin: 1.5em auto;
}
.chart-con{
    display: flex;
    margin-top: 1em;
}
.facio-container{
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid #555;
    padding: 2em;
    border-radius: .5rem;
    width: 90%;
    margin-bottom: 2em;
}

.input-area{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.addbtn{
    margin: 0 auto;
    
}
input{
    height: 10vh;
}
button{
    padding: 1em 2em;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
}
/* input{
    font-size: 1rem;
} */